<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel='stylesheet' href="general.css"/>
  </head>
  <body>
    <h1>Welcome, {{username}}</h1>
    <h2>I hope you are well today.</h2>
    <hr>
    <a href='/searchSnippets'><h2>See Your Snippets</h2></a>
    <a href="/createASnippet"><h2>Create a Snippet</h2></a>
    <hr>
    <h4><a href='/logout'>Logout</a></h4>
  </body>
</html>
